body{
    background:rgb(221, 221, 221);
}
#form_edit_container{
    background:rgb(241, 240, 240);
    border:thin solid darkgrey;
    max-width: 700px;
    margin:auto;  
    padding:10px 20px 20px; 
    margin-top:50px;
    border-radius:10px;
    box-shadow:0 0 1px lightgrey;
}

header hr{
    width:70%;
    margin:-10px auto 30px; 
    color:white;
}
header h1{
    text-align:center;
}
.frm_input{
    margin:20px 40px;    
}
#edit-id{
    width:5%;
}
input{
    width:70%;
    padding:10px;
    box-shadow:0 0 1px grey;
    border:none;
    border-radius:5px; 
    margin:0px 0px 20px;       
}
input:hover{
    box-shadow:0 0 10px skyblue;
    transition:1s;
}
 label strong{
    font-size:20px;
    line-height: 40px;
}
/* #title, #textarea_edit, #lbl_textArea{
    display:none; 
} */
#textarea_edit{
    width: 98%;
    height: 20vh;     
    resize:none;    
}
 #textarea_edit:hover{     
    box-shadow:0px 0px 10px skyblue;
    transition:1s;    
}
input[type="range"]{
    margin:20px 0px 0px 10%;
    max-width: 70%;
 
}
.btn_buttons{
    width:100px;
    padding:10px;
    margin:5px;
    border:none;
    box-shadow:0 0 3px grey;
    border-radius:8px;
    background:blue;
    color:white;
}
