  *{
    margin:0;
    padding:0;
  }    
      
  #container{
   max-width:1024px;
   margin: auto;
  }  
  nav{
   background:grey;
   float:right;
   opacity:0.8;   
   margin-right:10px;
  }
  nav ul{
   list-style:none;
   margin:3px;
   font-size:20px;
  }
   nav ul li{
   display:inline;
  }
  nav ul li a{
    text-decoration:none;
    color:darkred;
    font-size:1.5rem;
  }
  nav ul li a:hover{
    background:white;    
  }
  #banner{
    background:url('../images/Screenshot_20201005-083206_1601891913901_1601891926948.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    height:420px;
    margin:auto;
    max-width:1024px;
  }
  #startNow{
    display:inline-block;
    margin-top:370px;
    margin-left:470px;
    background: grey;
    padding:10px;
    border-radius: 10px;
  }
  #startNow a{
    text-decoration:none;
    color:brown;
   
  }
  #startNow:hover{
    background: #073b24;
    border-radius: 10px;
  }
  @media screen and (max-width:918px){
    #footer_content section{
      width: 40% !important;
      height:120px;
   }
  }
  @media screen and (max-width:768px){
      #banner{
        height:310px ! important;
      }
      #adv_content aside{
        width:200px ! important;
        height:200px ! important;
      } 
      #footer_content{
        width: 100% !important;
      }    
      #footer_content section{
         width: 40% !important;
         margin:20px !important
      }
  }
  @media screen and (max-width:622px){
      #adv_content aside{
        width:150px ! important;
        height:150px ! important;
      }
      #footer_content section{
        width: 100% !important;
        font-size: 1.5rem !important;
     }
     #footer_content section p{
       font-size:1.3rem !important;
     }
  }
  @media screen and (max-width:460px){
    #adv_content aside{
      width:120px ! important;
      height:120px ! important;
      }
      #footer_content section{
        width: 100% !important;       
     } 
  }
  @media screen and (max-width:368px){
      #banner{
      height:250px ! important;
      }
      #adv_content aside{
      width:100px ! important;
      height:100px ! important;
      margin-top:20px !important;
      }
      #footer_content{
        width: 100% !important;
     }
     #footer_content section p{
       font-size:1rem !important;
     }
  }
  #adv_content{
  display: flex;
  flex:1;
  max-width:90%;
  margin:auto;
 }
 #adv_content aside{
 width:270px; 
 height:270px;
 border-radius:200px;
 margin:40px auto;
 margin-right:5px;
 }
 #adv_content aside:nth-child(1){
 background:url('../images/Screenshot_20201005-091553_1601891709932.jpg');
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center;
 }
 #adv_content aside:nth-child(2){
 background:url('../images/Screenshot_20200918-230353_1600506942541.jpg');
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center;
 }
 #adv_content aside:nth-child(3){
 background:url('../images/Screenshot_20201005-091628_1601891627692.jpg');
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center;
 }
 
 #footer_content{
   display:flex;
   flex:1;
   flex-wrap: wrap;
   width:90%;
   margin:auto;
 }
 #footer_content section{
   background: grey;
   width:28.5%;
   min-height: 150px;
   margin: auto;
   text-align: center;
   margin:10px;
   padding:10px;
   box-shadow:0 0 2px green;
   border-radius:10px;
   
 }
 #footer_content section h3{
   color:brown;
 }
 #footer_content section hr{
   margin-top:5px;
   color:rgb(190, 183, 183);
   width:50%;
   margin:auto;
 }
 #footer_content section p{
   margin-top: 5px;
   font-size: 0.85rem;
 }
 #copy{
   background:black;
   color:white;
   text-align:center;
   padding:10px;
   margin:10px;
 }