*{
    margin:0;
    padding:0;
}
#container{
    max-width: 1024px; 
    padding:20px;
    margin:auto;                
}     
#header{    
    color:red;   
} 
#header h4{
    margin:5px;    
}  
#header h4 p{
    margin-bottom:5px;
}
.content{           
max-width:250px;
padding:3px 10px; 
box-shadow: 0 0 5px grey;
border-radius:10px;
margin:20px;
display: inline-block;
min-height: 50px;
}
.pimg{            
height: 150px;
max-width: 98%;
margin:10px 0px;
border-radius: 5px;                 
}