*{
    padding: 0;
    margin: 0;
}

#container{
    margin: 15vh auto;
    background-color: azure;
    max-width: 400px;
    min-height: 300px;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
}

#logo{
    padding: 20px;
}

#loginform{
    padding: 20px ;
}
#regform{
    padding: 20px ;
}



.textbox{
    display: block;
    width: 95%;
    margin: 8px 0;
    padding: 8px ;
    
}


#form-group{
    margin: 20px;
}

#btnsubmit{
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

header{
    background-color: tomato;
    width:100%;
    height: 50px;
    color: white;
    

}
 #first{
    width: 80%;
    margin: 0 auto;
    display: flex;
   
    text-align: center;
}
#first aside{
    margin-top: 15px;
    display: inline-block;
}

#first #right{
    text-align: left;
    flex: 1;
    font-size: 18px;

}

#first #left{
    text-align: right;
    flex: 1;
    
}
#first a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

#second{    
    width: 100%;
    padding-top: 9px;
    border-bottom: 1px solid;
    min-height: 30px;
    text-align: center;
    background-color:aqua;
}

#second a{
    text-decoration: none;
    padding:  11px;
    color: black;
   

}
#second a:hover{
    background-color: tomato;
    color: white;
}

#btn1{
    background-color: inherit;
    border: none;
}
#btn1:hover{
    background-color: tomato;
}

#contain{
    margin:40px auto;
    font-style: italic;
    background-color: aqua;
    max-width: 500px;
    min-height: 200px;
    border-radius: 20px;
}

#frmpost{
    padding: 20px;

}

#frmedit{
    padding: 20px;
}

 #btnsub{
     padding: 10px;
     border: none;
     background-color: white;
     border-radius: 5px;
 }

 #frmcont{
     padding:  20px;
 }
 #btnedit{
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
 }
 #txt{
     display:flex;
    
 }
 .tex{
     flex: 1;
     padding: 6px 0;
     margin-right: 6px;
 }

 body{
     background-color: blueviolet;
 }

 #contains{
     margin: 30px auto;
     max-width: 300px;
     min-height: 100px;
     background-color: aqua;
     border-radius: 10px;
 }

 #form_delete{
     padding: 30px;
 }
 #post_id{
     padding: 8px 0;
     margin-right: 7px;
 }

#first1{
    width: 100%;
    min-height:20px;
    background-color: black;
    display: flex;
}

#first1 aside{
    padding: 6px;
}

#side1{
    flex: 1;
    text-align: left;
    margin-left: 60px;
}
#side2{
    flex: 1;
    text-align: right;

}

.fa-phone-volume{
    padding-left: 20px;
}

.fa-facebook ,
.fa-instagram ,
.fa-twitter,
.fa-whatsapp{
    padding: 0 5px;
}


#sec3{
    flex: 1;
    margin-right: 6px;
    text-align: right;
}
#sec3 input{
    padding: 6px;
    border: none;
    color: aqua;
    border-bottom: 2px solid ;
    background-color: transparent;
}

#btnsearch{
    padding: 5px;
}

#last{
    width: 100%;
    min-height: 20px;
    background-color: tomato;
    display: flex;
}

#pan1{
    flex: 1;
    margin-left: 70px;
    padding: 8px;
}

#pan2{
    flex: 1;
}
 span{
     padding: 9px 3px;
 }
#pan2 a{
    text-decoration: none;
    color: aqua;
    padding:  5px 9px ;
}
#log{
    font-style: italic;
    color: white !important;
}


#reg{
   color: white !important;
   font-style: italic;
   
}
#pan2 a:hover{
    background-color: black;
    border-radius: 5px;
}

#card{
    text-decoration: none;
    margin: 10vh;
    width: 15%;
    background-color: aqua;
    height: 300px;
    box-shadow: 0 0 2px black;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}
#card a{
    text-decoration: none;
}

#title{
    color: black;
    padding: 13px;
    font-size: 1.0rem;
}
#card:hover{
    box-shadow: 0 0 30px tomato;
    background-color: tomato;
}

#author{
    font-style: italic;
}
 
#cardimg{
    background-image: url('/../api_demo/img/dummy_img.jpg');
    background-position: center;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    

}

 @media screen and (max-width:767px){
     #first1{
         display:block;
     }
     #second2{
         display: block;
     }
     
     #last{
         display: block;
     }
 }